# Archivos y directorios que se deben ignorar al construir la imagen Docker

# Archivos de sistema
.git
.gitignore
README.md
node_modules
npm-debug.log
yarn-debug.log

# Archivos de desarrollo
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log

# Editor de archivos
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db

# Docker
Dockerfile
.dockerignore